# Node
node_modules/
.env
dist/
npm-debug.log

# Flutter
.dart_tool/
build/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db